/* Font downloaded from https://www.dafont.com/retro-gaming.font */
/* Some styling from https://gitlab.com/seng513/lights-out-game/-/blob/master/public/style.css */

@font-face {
    font-family: 'retro-pixel';
    src: url('Retro-Gaming.woff') format('woff');
}

* {
    font-family: retro-pixel, monospace;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-size: 10px;
}

#page-title {

}

#status {
    visibility: hidden;
}

#face-pic, #num-mines, #current-time {
    display: inline-block;
}

#current-time {
    text-align: end;
}

#num-mine-container {
    text-align: start;
}

#status-div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: auto auto 20px;
}

#status-div > *:last-child {
    white-space: nowrap;
    text-align: right;
}

#face-pic {
    border: 1px solid black;
    background-color: #c4c4c4;
    box-shadow: 0 9px #999;
    padding: 10px;
}

#face-pic:active {
    background-color: #757a75;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

.gridwrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    user-select: none;
}

#grid {
    display: grid;
    grid-template-columns: repeat(9, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
    width: calc(70vh);
    max-width: 800px;
    max-height: 100%;
}

#grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

#grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.row {
    font-size: 0;
}

.col {
    background-color: #eee;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 100%;
    height: 100%;
}

@media (min-width: 800px) {
    #status-div {
        margin: auto auto 20px;
    }
}

.col.hidden {
    background-color: #59aec7;
    cursor: pointer;
}

.col.hidden:hover {
    background-color: #458598;
}

.row:last-child .col {
    border-bottom: none
}

.row .col:last-child {
    border-right: none;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

.menuButton {
    padding: 5px 0.5em;
    border: 0 solid gray;
    background-color: rgba(128, 128, 128, 0.233);
    margin: 5px;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: 1em;
}

.menuButton:hover {
    color: white;
    background: black;
}

.mine {
    background-image: url('../res/mine.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.flag {
    background-image: url('../res/iconmonstr-flag.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

